In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.cluster import KMeans

In [2]:
training_data = pd.read_csv("training_data.csv")
training_data = training_data.dropna(subset = ['exit_velocity','distance','hang_time','direction','play_result'])
#training_data = training_data.dropna(subset = ['exit_velocity', 'hit_spin_rate','position_at_110y','last_tracked_distance','hang_time','direction','play_result'])

In [3]:
len(training_data)

43921

In [4]:
batters = training_data.groupby("batter_name", as_index=False)
batter_dict = dict(iter(batters))

In [5]:
Seymour_Bobby = batter_dict['Seymour, Bobby']
#Seymour_Bobby = Seymour_Bobby.loc[Seymour_Bobby['distance'] >= 60]
location = Seymour_Bobby[['distance','direction']]
location_scaled = preprocessing.scale(location)
#scaler = preprocessing.MinMaxScaler()
#location_scaled = scaler.fit_transform(location)

kmeans = KMeans(n_clusters = 7)
groups = kmeans.fit_predict(location_scaled)
Seymour_Bobby['cluster'] = groups

#kmeans_batch = MiniBatchKMeans(n_clusters = 7)
#batch_groups = kmeans_batch.fit_predict(location_scaled)
#Seymour_Bobby['cluster_batch'] = batch_groups

#birch = Birch(threshold=0.01, n_clusters=7)
#birch_groups = birch.fit_predict(location_scaled)
#Seymour_Bobby['cluster_birch'] = birch_groups

In [6]:
location.iloc[0]

distance     210.152763
direction    -19.519328
Name: 300, dtype: float64

In [7]:
location_scaled[0]

array([ 0.65232171, -1.42017546])

In [8]:
Seymour_Bobby.to_csv('clusters.csv')

In [9]:
cluster_0 = Seymour_Bobby.loc[Seymour_Bobby['cluster'] == 0]
cluster_1 = Seymour_Bobby.loc[Seymour_Bobby['cluster'] == 1]
cluster_2 = Seymour_Bobby.loc[Seymour_Bobby['cluster'] == 2]
cluster_3 = Seymour_Bobby.loc[Seymour_Bobby['cluster'] == 3]
cluster_4 = Seymour_Bobby.loc[Seymour_Bobby['cluster'] == 4]
cluster_5 = Seymour_Bobby.loc[Seymour_Bobby['cluster'] == 5]
cluster_6 = Seymour_Bobby.loc[Seymour_Bobby['cluster'] == 6]

clusters = ['cluster_0','cluster_1','cluster_2','cluster_3','cluster_4','cluster_5','cluster_6']

In [10]:
cluster_0.to_csv('cluster_0.csv')
cluster_1.to_csv('cluster_1.csv')
cluster_2.to_csv('cluster_2.csv')
cluster_3.to_csv('cluster_3.csv')
cluster_4.to_csv('cluster_4.csv')
cluster_5.to_csv('cluster_5.csv')
cluster_6.to_csv('cluster_6.csv')

In [11]:
mean_distances = []
mean_distances.append(cluster_0['distance'].mean())
mean_distances.append(cluster_1['distance'].mean())
mean_distances.append(cluster_2['distance'].mean())
mean_distances.append(cluster_3['distance'].mean())
mean_distances.append(cluster_4['distance'].mean())
mean_distances.append(cluster_5['distance'].mean())
mean_distances.append(cluster_6['distance'].mean())

In [12]:
mean_directions = []
mean_directions.append(cluster_0['direction'].mean())
mean_directions.append(cluster_1['direction'].mean())
mean_directions.append(cluster_2['direction'].mean())
mean_directions.append(cluster_3['direction'].mean())
mean_directions.append(cluster_4['direction'].mean())
mean_directions.append(cluster_5['direction'].mean())
mean_directions.append(cluster_6['direction'].mean())

In [13]:
mean_hits = []
mean_hits.append(cluster_0['play_result'].mean())
mean_hits.append(cluster_1['play_result'].mean())
mean_hits.append(cluster_2['play_result'].mean())
mean_hits.append(cluster_3['play_result'].mean())
mean_hits.append(cluster_4['play_result'].mean())
mean_hits.append(cluster_5['play_result'].mean())
mean_hits.append(cluster_6['play_result'].mean())

In [14]:
cluster_means = pd.DataFrame()
cluster_means['cluster'] = clusters
cluster_means['distance'] = mean_distances
cluster_means['direction'] = mean_directions
cluster_means['play_result'] = mean_hits

In [15]:
cluster_means

     cluster    distance  direction  play_result
0  cluster_0  155.940330   7.695457     0.588235
1  cluster_1   24.731365  27.483745     0.169231
2  cluster_2  321.621118   8.271930     0.365854
3  cluster_3   45.029403 -22.503128     0.413793
4  cluster_4  199.803096  28.081593     0.696970
5  cluster_5   24.897095   4.432497     0.298246
6  cluster_6  255.756936 -17.458543     0.589744

In [16]:
# for i,row in cluster_means.iterrows():
#     if(cluster_means.at[i,'distance'] < 100):
#         cluster_means.at[i,'distance'] = 110

In [17]:
# cluster_means

In [18]:
cluster_means.to_csv('cluster_means.csv')

In [19]:
len(Seymour_Bobby)

298

In [20]:
cluster_0.head()

,Unnamed: 0,batter_name,pitcher_handedness,batter_handedness,inning,outs,strikes,velocity,vertical_release_angle,horizontal_release_angle,...,pfxx,pfxz,vx0,vy0,vz0,ax,ay,play_result,traditional_cluster,cluster
7744,7744,"Seymour, Bobby",1,1,5.0,1.0,0.0,80.915166,-0.286347,-4.262503,...,-8.872089,6.948653,8.310194,-117.332735,-1.534672,-12.242750,24.301422,0,4.0,0
7893,7893,"Seymour, Bobby",1,1,2.0,0.0,2.0,88.533529,-2.886564,-2.766437,...,-6.098800,9.947962,5.890657,-128.594539,-7.096208,-10.236572,26.076174,0,4.0,0
7916,7916,"Seymour, Bobby",1,1,7.0,2.0,2.0,85.674008,-3.091602,-2.453018,...,-7.211516,7.537705,4.962965,-124.393188,-7.518942,-11.221310,26.565134,1,0.0,0
8321,8321,"Seymour, Bobby",1,1,4.0,1.0,2.0,91.931632,-3.028575,-3.071603,...,-4.719609,12.001523,6.922448,-133.308649,-7.504827,-8.364802,32.694582,0,6.0,0
8564,8564,"Seymour, Bobby",1,1,7.0,2.0,1.0,75.071435,1.241660,-1.361363,...,3.142686,-1.895943,2.796015,-109.088398,0.734120,3.769709,20.009537,0,0.0,0