https://baseballsavant.mlb.com/visuals/fielder-positioning?teamId=&firstBase=0&shift=0&batSide=R&season=2019&position=&attempts=250

http://m.mlb.com/glossary/statcast/shifts

In [1]:
import pandas as pd
import numpy as np
from math import *
from pandas.api.types import is_numeric_dtype
first_base = pd.read_csv('traditional_1B.csv')
second_base = pd.read_csv('traditional_2B.csv')
third_base = pd.read_csv('traditional_3B.csv')
short_stop = pd.read_csv('traditional_SS.csv')
left_field = pd.read_csv('traditional_LF.csv')
center_field = pd.read_csv('traditional_CF.csv')
right_field = pd.read_csv('traditional_RF.csv')

In [2]:
len(first_base)

4886

In [3]:
len(left_field)

11489

In [4]:
# 1B
first_base['distance'] = first_base['hit_distance_sc']
first_base['direction'] = (np.arctan((first_base['hc_x'] - 125.42) / (198.27 - first_base['hc_y'])) * 180 / (pi * 0.75))
first_base = first_base.loc[first_base['direction'].abs() <=45]

In [5]:
# 2B
second_base['distance'] = second_base['hit_distance_sc']
second_base['direction'] = (np.arctan((second_base['hc_x'] - 125.42) / (198.27 - second_base['hc_y'])) * 180 / (pi * 0.75))
second_base = second_base.loc[second_base['direction'].abs() <=45]

In [6]:
# 3B
third_base['distance'] = third_base['hit_distance_sc']
third_base['direction'] = (np.arctan((third_base['hc_x'] - 125.42) / (198.27 - third_base['hc_y'])) * 180 / (pi * 0.75))
third_base = third_base.loc[third_base['direction'].abs() <=45]

In [7]:
# SS
short_stop['distance'] = short_stop['hit_distance_sc']
short_stop['direction'] = (np.arctan((short_stop['hc_x'] - 125.42) / (198.27 - short_stop['hc_y'])) * 180 / (pi * 0.75))
short_stop = short_stop.loc[short_stop['direction'].abs() <=45]

In [8]:
# LF
left_field['distance'] = left_field['hit_distance_sc']
left_field['direction'] = (np.arctan((left_field['hc_x'] - 125.42) / (198.27 - left_field['hc_y'])) * 180 / (pi * 0.75))
left_field = left_field.loc[left_field['direction'].abs() <=45]

In [9]:
# CF
center_field['distance'] = center_field['hit_distance_sc']
center_field['direction'] =  (np.arctan((center_field['hc_x'] - 125.42) / (198.27 - center_field['hc_y'])) * 180 / (pi * 0.75))
center_field = center_field.loc[center_field['direction'].abs() <=45]

In [10]:
# RF
right_field['distance'] = right_field['hit_distance_sc']
right_field['direction'] =  (np.arctan((right_field['hc_x'] - 125.42) / (198.27 - right_field['hc_y'])) * 180 / (pi * 0.75))
right_field = right_field.loc[right_field['direction'].abs() <=45]

In [11]:
len(first_base)

544

In [12]:
len(left_field)

7657

In [13]:
# All
bip = pd.concat([first_base,second_base,third_base,short_stop,left_field,center_field,right_field],axis =0)
bip['hit_location'].value_counts(normalize=True)*100

8    25.973264
6    20.450179
4    15.489312
7    15.485267
9    14.548911
5     6.952899
3     1.100168
Name: hit_location, dtype: float64

In [14]:
bip.to_csv('statcast_traditional.csv')

In [15]:
len(bip)

49447

In [16]:
len(center_field) / len(bip)

0.25973264303193316

In [17]:
def remove_outlier(df):
    low = .05
    high = .95
    quant_df = df.quantile([low, high])
    for name in list(df.columns):
        if is_numeric_dtype(df[name]):
            df = df[(df[name] > quant_df.loc[low, name]) 
               & (df[name] < quant_df.loc[high, name])]
    return df

In [45]:
center_field[['distance','direction']].quantile(0.95)

distance     388.000000
direction     20.476211
Name: 0.95, dtype: float64

In [19]:
first_base[['distance','direction']].describe()

         distance   direction
count  415.000000  544.000000
mean    45.795181   34.382655
std     49.847390   16.761388
min      2.000000  -43.214854
25%      7.000000   35.070804
50%     19.000000   40.353311
75%     86.500000   43.191075
max    271.000000   44.992370

In [20]:
second_base[['distance','direction']].describe()

          distance    direction
count  6999.000000  7659.000000
mean     64.065152    26.408777
std      65.558480    12.360389
min       1.000000   -44.539706
25%       9.000000    19.307257
50%      31.000000    28.900532
75%     122.000000    35.611261
max     389.000000    44.996753

In [21]:
third_base[['distance','direction']].describe()

          distance    direction
count  2856.000000  3438.000000
mean     25.726891   -36.887927
std      35.048103     9.022355
min       1.000000   -44.990459
25%       5.000000   -42.496770
50%      10.000000   -39.399794
75%      28.250000   -34.527708
max     403.000000    41.171999

In [22]:
short_stop[['distance','direction']].describe()

          distance     direction
count  9342.000000  10112.000000
mean     51.646971    -21.790735
std      58.765070     10.559953
min       1.000000    -44.889961
25%       9.000000    -28.819705
50%      21.000000    -23.200766
75%      83.000000    -16.267292
max     383.000000     37.183165

In [23]:
left_field[['distance','direction']].describe()

          distance    direction
count  7566.000000  7657.000000
mean    231.677240   -31.706333
std     101.562651     8.294067
min       3.000000   -44.999406
25%     176.000000   -38.497156
50%     254.000000   -32.612422
75%     309.000000   -25.847466
max     424.000000     7.151994

In [24]:
center_field[['distance','direction']].describe()

           distance     direction
count  12764.000000  12843.000000
mean     268.119868      1.170560
std      103.976440     11.984687
min        4.000000    -44.791813
25%      225.000000     -7.840041
50%      294.000000      0.982776
75%      347.000000     10.167469
max      430.000000     44.959340

In [25]:
right_field[['distance','direction']].describe()

          distance    direction
count  7127.000000  7194.000000
mean    246.556756    32.861427
std      90.737154     8.266322
min       2.000000   -34.589727
25%     210.000000    27.084880
50%     265.000000    33.861968
75%     313.000000    39.729089
max     427.000000    44.999013